<div id="left_box">
<% form_for(@saved_letter) do |f| %>
<%= f.error_messages %>
<%= f.hidden_field :user_id,:value=>current_user.id%>
<table class="formstyle" width="100%">
	<tr>
    		<th><%= f.label :regarding %></th>
    		<td><%= f.text_field :regarding %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :content %></th>
    		<td><%= f.text_area :content %></td>
  	</tr>
</table>
<div id="btn">
    <center><%= f.submit 'Save' %></center>
</div>
<% end %>
</div>
