<div id="left_box">
<% form_for(@invoice) do |f| %>
<%= f.error_messages %>
<table class="formstyle" width="100%">
	<tr>
    		<th><%= f.label :client_id %></th>
    		<td><%= f.text_field :client_id %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :account_id %></th>
    		<td><%= f.text_field :account_id %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :invoice_number %></th>
    		<td><%= f.text_field :invoice_number %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :invoice_amount %></th>
    		<td><%= f.text_field :invoice_amount %></td>
  	</tr>
  	<tr>
    		<th><%= f.label :towards %></th>
    		<td><%= f.text_area :towards ,:rows=>8,:cols=>32%></td>
  	</tr>
  	<tr>
    		<th><%= f.label :payment_received %></th>
    		<td><%= f.check_box :payment_received %></td>
  	</tr>
</table>
<div class="button"><center><%= f.submit 'Update' %></center></div>
<% end %>
</div>
<div class="clear"></div>

