	<div id="advanced_search" style="display:none">
		<table cellspacing="3px">
			<tr>
				<td>
					<%=link_to('Simple Search','#simple_search',options = {:onclick => "Element.show('simple_search');Element.hide('advanced_search');"})%>
					<%= render :partial => 'advanced_search' %>
				</td>
			</tr>
		</table>
	</div>  
	<div id="simple_search">
		<table cellspacing="5px" >
			<tr>
				<td width="30%">
   					<%= render :partial => 'simple_search' %>
				</td>
				<td width="50%">
					<%=link_to('Advanced Search','#advanced_search',options = {:onclick => "Element.show('advanced_search');Element.hide('simple_search');"})%>
				</td>
				<td width="10%" class="new_btn">
				<%= link_to "New Case", new_case_path(:type=>"add_client"), :class => 'buttonAdd' %>
				</td>
			</tr>
		</table>
	</div>
	<div class = clear > </div>
	<div id="search_result">
   		<%=render :partial=>'search_result'%>
	</div>




